.flash
{
	color: #FFFFFF;
	background-color: #C8102E;
	font-size: 32px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
}

.correctBackground
{
	color: #FFFFFF;
	background-color: #012169;
}

div
{
	padding-bottom: 10px;
}

#wrongAnswerExplainer
{
	font-size: 10px;
	padding-top: 15px;
}
