.flash
{
	color: #FFFFFF;
	background-color: #C8102E;
	font-size: 32px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
	font-family: sans-serif;
}

h1
{
	font-size: 2em;
	margin-bottom: 50px;;
}

#answerAndSubmit
{
	display: flex;
	padding-top: 15px;
}

#grade
{
	font-size: 18px;
	margin-top: 3px;
}

#game
{
	margin-left: .67em;
	margin-right: .67em;
	margin-top: 1em;
}

#blankString
{
	padding-top: 15px;
}

#buttonSection
{
	padding-top: 15px;
}

hr.solidDivider
{
	border-top: 3px solid #fff;
}

.correctBackground
{
	color: #FFFFFF;
	background-color: #012169;
}

div
{
	padding-bottom: 10px;
}

#wrongAnswerExplainer
{
	font-size: 10px;
	padding-top: 15px;
}

#cookieDisclaimer
{
	font-size: 10px;
	padding-top: 50px;
}

#cookieDisclaimer button
{
	font-size: 10px;
}

p
{
	line-height: 1;
	margin-left: 10px;
	margin-right: 10px;
}