<div class="flash" [ngClass]="{'correctBackground' : showCorrect}">

	<h1>{{category}}</h1>
	<p>{{currentQuestion}}</p>
	<div>
		<span></span>
		<span></span>
	</div>
	<form #userAnswer = "ngForm" (ngSubmit) = "onClickSubmit()" [(ngModel)]="guess" name="guess" ngDefaultControl>
		Answer:
		<input type="text" name="text" ngModel/>
		<input type="submit" id="submit" value="Submit"/>
	</form>
	<span></span>
	<button (click)="showAnswer = !showAnswer">Show answer</button>
	<button (click)="userAnswer.setValue({'guess':'', 'text':''})">Clear</button>
	<span>{{numberRight}}/{{numberGuesses}}</span>
	<span>{{letterGrade()}}</span>
    <div>{{blankString}} ({{answerToCurrentQuestion.length}} characters)</div>
	<div id="wrongAnswerExplainer" *ngIf="isPreviousWrongQuestion === true">*You are being shown this question because you made a mistake on it previously</div>
    <div *ngIf="showAnswer">{{answerToCurrentQuestion}}</div>
    
</div>

