.flash
{
	color: #FFFFFF;
	background-color: #C8102E;
	font-size: 32px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100vh;
	font-family: sans-serif;
}

h1
{
	font-size: 2em;
	margin-bottom: 50px;;
}

#answerAndSubmit
{
	display: flex;
	padding-top: 15px;
	width: 100%;
}

#ui
{
	width: 50%;
	margin: 0 auto;
}

#grade
{
	font-size: 18px;
	margin-top: 3px;
	text-align: right;
	width: 100%;
}

#gradeContainer
{
	width: 100%;
	color: #C8102E;
	margin-left: auto; 
	margin-right: 0;
}

#letterGrade
{
	margin-bottom: 0px;
	font-size: 36px;
}

#game
{
	margin-left: .67em;
	margin-right: .67em;
	margin-top: 1em;
}

#blankString
{
	padding-top: 15px;
	letter-spacing: .2rem;
}

#answerHint
{
	letter-spacing: 0;
}

#buttonSection
{
	margin-left: auto; 
	margin-right: 0;
}

#buttonSection button
{
	height: 51px;
	width: 116px;
}

button
{
	margin-left: 3px;
}

hr.solidDivider
{
	border-top: 3px solid #fff;
	margin-top: 3px;
}

.correctBackground
{
	color: #FFFFFF;
	background-color: #012169;
}

div
{
	padding-bottom: 10px;
}

#wrongAnswerExplainer
{
	font-size: 10px;
	padding-top: 15px;
}

#cookieDisclaimer
{
	font-size: 10px;
	padding-top: 50px;
}

#cookieDisclaimer button
{
	font-size: 10px;
}

p
{
	line-height: 1;
}

mat-card
{
	width: 50%;
	margin: 0 auto;
}

#flashcard
{
	box-shadow: 12px 12px rgb(128, 128, 128, .2);
}

#cardBody
{
	margin-left: 10px;
	margin-right: 10px;
}