<html>
	<head>
		<title>English</title>
		<link rel="stylesheet" type="text/css" href="deitsch.css">
		<meta name="theme-color" content="#C8102E">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-app="Deitsch" ng-controller="MainController as main" ng-class="{'correctBackground': main.displayCorrect}">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
		<script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
		<script src="main.js"></script>
		<script src="deitsch-controller.js"></script>
		<script src="question-factory.js"></script>
		<h1 ng-bind="main.currentCategory + (main.isPreviousWrongQuestion ? '*' : '')"></h1>
		<p ng-if="!main.isPicture" ng-bind="main.currentQuestion"></p>
		<img ng-if="main.isPicture" ng-src="{{main.src}}"></img>
		<div>
			<span ng-bind="main.blankString"></span>
			<span ng-bind="' (' + main.answerToCurrentQuestion.length + ' characters)'"></span>
		</div>
		<form ng-submit="main.submitAnswer()" autocomplete="off">
			Answer:
			<input type="text" ng-model="main.currentUserAnswer" name="text" />
			<input type="submit" id="submit" value="Submit" />
		</form>
		<span ng-bind="main.answerToCurrentQuestion" ng-if="main.shouldShowAnswer"></span>
		<button ng-click="main.showAnswer()">Show answer</button>
		<button ng-click="main.currentUserAnswer = ''">Clear</button>
		<span ng-bind="main.correctRatio()"></span>
		<span ng-bind="main.grade()"></span>
		<div id="wrongAnswerExplainer" ng-if="main.isPreviousWrongQuestion">*You are being shown this question because you made a mistake on it previously</div>
	</body>
</html>
