* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

.flash
{
	color: #FFFFFF;
	background-color: #C8102E;
	font-size: 24px;
	font-family: sans-serif;
	padding-bottom: 3rem;
}

h1
{
	margin-block: 1em;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

#answerAndSubmit
{
	display: flex;
	padding-top: 15px;
}

#ui
{
	width: 75%;
	margin: 0 auto;
}

#ui button
{
	height: 51px;
	font-size: 16px;
}

#textBoxDiv
{
	width: 100%;
	float: left;
	display: block;
}

#textBoxDiv input
{
	box-sizing: border-box;
	width: 100%;
	margin-block: 0.25em;
	padding: 0.25em;
	font: inherit;
}

.cardHeader {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 36px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.1;

	h2 {
		flex: 1 1 0%;
		margin: 0;
		font: inherit;
	}
}

#cardBody {
	padding: 0;

	hr {
		margin-block: 36px;
	}
}

#submitDiv
{
	width: 100%;
	float: left;
}

#submitDiv button
{
	width: 100%;
}

#grade
{
	margin-block: 0;
	text-align: right;
	width: 100%;
}

#gradeContainer
{
	flex: none;
	margin-block: 0;
	margin-left: auto;
	margin-right: 0;
}

#letterGrade
{
	margin-block: 0;
	font: inherit;
	color: #C8102E;
}

#game
{
	margin-left: .67em;
	margin-right: .67em;
	margin-top: 1em;
}

#blankString,
#fullAnswer
{
	padding-top: 15px;
	letter-spacing: .2rem;
	line-height: 40px;
}

.hintText {
	margin: 0;
	color: #555;
	font-size: 1rem;
}
#answerHint
{
	letter-spacing: 0;
	line-height: 30px;
}

#buttonSection
{
	margin-left: auto;
	margin-right: 0;
}

#buttonSection button
{
	height: 51px;
	width: 100%;
}

hr.solidDivider
{
	border-top: 3px solid #fff;
	margin-top: 3px;
}

.correctBackground
{
	color: #FFFFFF;
	background-color: #012169;
}

div
{
	margin-block: 10px;
}

#wrongAnswerExplainer
{
	font-size: 10px;
	padding-top: 15px;
}

#cookieDisclaimer
{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
}
.cookieContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: fit-content;
	margin-inline: auto;
	margin-block: 0;
	padding-block: 10px;
	font-size: 10pt;
}
#cookieDisclaimer button {
	padding-block: 5px;
}

p
{
	line-height: 1;
}

mat-card
{
	width: 75%;
	margin: 0 auto;
}

#flashcard
{
	box-shadow: 12px 24px 0 rgb(255 255 255 / 0.2);
}
